body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Francois One',sans-serif;}

.menu-item:focus{
    border-bottom-style: solid;
    border-color: black;
}

.content {
    width:85%;
    max-width:700px;
}

.menu-item{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;

}

.menu-item:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: darkgrey;
    transition: width 0.1s ease 0s, left 0.5s ease 0s;
    width: 0;
}

.menu-item:hover:after {
    width: 100%;
    left: 0;
}

#canvasDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}


.control{
    width: 560px;
    height: 60px;
    background-color: #fff1e6;
    padding: 10px;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
    justify-content: space-between;

}

.hidden{
    display: none;
}

.btn{
    background-color: #f4d0b5;
    border: 2px solid transparent;
    padding: .375em .75em 0.1em .75em;
    border-radius: 0.25rem;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    color: #212529;
}

.btn:focus{
    border: 2px solid grey;
    transition: linear 0.2s;
}

.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.btn-check:checked + label {
    background-color: #e4b693;
}

.btn-group > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;}

.btn-group > .btn:not(:first-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > .btn {
    height: 40px;
    margin: -2px;
}

.inline{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}


.indicator-icon{
    margin-right: 10px;
    margin-top: -20px;
}
.binaControl{
    width: 150px;
    float: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
    border-radius: 10px;
    margin-left: 6px;
    background-color: #fff1e6;
}

.binaButton{
  height:40px;

    background-color: #f4d0b5;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.5% 3% 3% 3.5%;
    display:block;
}

.binaButton img{
  width:30px;
  height:30px;
}

.binaButton:hover {
    border: 1px solid #212529;
    background-color: #e4b693;
    margin: 0;
    display:block;
}

.game-container{
    display: flex;
    flex-direction: row;
    margin-left: -20px ;
}
.sidebar li{
    background-color: #fff1e6;
    width: 60px;
    height: 60px;
    list-style: none;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    width: 100%;
    height:100%;
}

body {
    background: linear-gradient(-45deg, #d4e09b, #F5CAC3, #f6f4d2, #f19c79);
    background-size: 800% 800%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sortable img{
  width: 30px;
  height: 30px;
}

#panel{
float:left;
}

h1{
  margin: 0px;
}

#inputDiv{
  width:200px;
}

#speedIcon{
  padding-top: 15px;
}

.typewriter {


    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
}
